.products-container .card.card-vertical .img-badge-container {
  cursor: pointer;
}

.products-container .card.card-vertical .card-vt-btn {
  justify-content: left;
}

.products-container
  .card.card-vertical
  .button.btn-solid.button-primary.btn-go-to-cart {
  width: 70%;
}

.card.card-vertical .vt-card-text .rating i.fas.fa-star {
  color: var(--star-color);
}
