.store-nav .search-bar .search-bar-icon {
  background-color: var(--secondary-color);
}

.store-nav .search-bar {
  height: 2.5rem;
  border-radius: 3px;
}

.store-nav .search-bar label {
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-container {
  position: relative;
}

.search-result-dropdown {
  position: absolute;
  background-color: var(--search-bg);
  width: 70%;
  left: 3rem;
  border: 1px solid var(--gray-txt);
  border-radius: 3px;
  -webkit-box-shadow: 0px 24px 47px -15px rgba(0, 0, 0, 0.44);
  -moz-box-shadow: 0px 24px 47px -15px rgba(0, 0, 0, 0.44);
  box-shadow: 0px 24px 47px -15px rgba(0, 0, 0, 0.44);
  z-index: 10;
}

.search-display-none {
  display: none;
}

.search-result-list {
  justify-content: center;
  align-items: center;
  width: 100%;
  text-align: center;
}

.search-result-list li {
  background-color: var(--nav-bg);
  width: 100%;
  cursor: pointer;
}

.search-result-list li:hover {
  background-color: var(--secondary-color);
  transition: 200ms ease;
}

.search-result-list li.not-found {
  background-color: var(--warning-color);
}

.search-result-list li.not-found:hover {
  background-color: var(--warning-color);
  cursor: default;
}
